USE [master]
GO
/****** Object:  Database [Auto Service]    Script Date: 16/10/2025 10:49:51 ******/
CREATE DATABASE [Auto Service]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Auto Service', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Auto Service.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Auto Service_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Auto Service_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Auto Service].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Auto Service]
GO
/****** Object:  Table [dbo].[Brads]    Script Date: 16/10/2025 10:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brads](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Brand] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Brads] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 16/10/2025 10:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Brand_ID] [int] NOT NULL,
	[Engine] [nvarchar](20) NOT NULL,
	[Fuel_ID] [int] NOT NULL,
	[Owner_ID] [int] NOT NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fuels]    Script Date: 16/10/2025 10:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fuels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Fuels] [nchar](15) NOT NULL,
 CONSTRAINT [PK_Fuels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 16/10/2025 10:49:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Phone_number] [nvarchar](10) NULL,
 CONSTRAINT [PK_Owners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brads] ON 

INSERT [dbo].[Brads] ([ID], [Brand]) VALUES (1, N'Пежо')
INSERT [dbo].[Brads] ([ID], [Brand]) VALUES (2, N'Ситроен')
INSERT [dbo].[Brads] ([ID], [Brand]) VALUES (3, N'Фиат')
SET IDENTITY_INSERT [dbo].[Brads] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([ID], [Brand_ID], [Engine], [Fuel_ID], [Owner_ID]) VALUES (2, 1, N'55555', 3, 2)
INSERT [dbo].[Cars] ([ID], [Brand_ID], [Engine], [Fuel_ID], [Owner_ID]) VALUES (6, 2, N'05246552', 2, 1)
INSERT [dbo].[Cars] ([ID], [Brand_ID], [Engine], [Fuel_ID], [Owner_ID]) VALUES (8, 3, N'2555', 3, 1)
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Fuels] ON 

INSERT [dbo].[Fuels] ([ID], [Fuels]) VALUES (1, N'Газ            ')
INSERT [dbo].[Fuels] ([ID], [Fuels]) VALUES (2, N'Бензин         ')
INSERT [dbo].[Fuels] ([ID], [Fuels]) VALUES (3, N'Дизел          ')
SET IDENTITY_INSERT [dbo].[Fuels] OFF
GO
SET IDENTITY_INSERT [dbo].[Owners] ON 

INSERT [dbo].[Owners] ([ID], [Name], [Phone_number]) VALUES (1, N'Марио', N'0884069160')
INSERT [dbo].[Owners] ([ID], [Name], [Phone_number]) VALUES (2, N'Ния', NULL)
INSERT [dbo].[Owners] ([ID], [Name], [Phone_number]) VALUES (3, N'Филип', N'0887759837')
SET IDENTITY_INSERT [dbo].[Owners] OFF
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Brads] FOREIGN KEY([Brand_ID])
REFERENCES [dbo].[Brads] ([ID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Brads]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Fuels] FOREIGN KEY([Fuel_ID])
REFERENCES [dbo].[Fuels] ([ID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Fuels]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Owners] FOREIGN KEY([Owner_ID])
REFERENCES [dbo].[Owners] ([ID])
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Owners]
GO
USE [master]
GO
