USE [master]
GO
/****** Object:  Database [RentACarDB]    Script Date: 23/02/2026 14:35:13 ******/
CREATE DATABASE [RentACarDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RentACarDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RentACarDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RentACarDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RentACarDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RentACarDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RentACarDB]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 23/02/2026 14:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Brands] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 23/02/2026 14:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VIN] [nchar](17) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[LocationId] [int] NOT NULL,
	[FuelId] [int] NOT NULL,
	[GearboxId] [int] NOT NULL,
	[Odometer] [int] NOT NULL,
	[YearOfProduction] [int] NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 23/02/2026 14:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 23/02/2026 14:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [varchar](15) NOT NULL,
	[LicenseNumber] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fuels]    Script Date: 23/02/2026 14:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fuels](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Fuels] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gearboxes]    Script Date: 23/02/2026 14:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gearboxes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Gearboxes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 23/02/2026 14:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Locations] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 23/02/2026 14:35:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[CustomerId] [int] NOT NULL,
	[CarId] [int] NOT NULL,
	[FromDate] [smalldatetime] NOT NULL,
	[ToDate] [smalldatetime] NOT NULL,
	[Amount] [money] NOT NULL,
 CONSTRAINT [PK_Reservations_1] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC,
	[CarId] ASC,
	[FromDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([ID], [Name]) VALUES (2, N'Audi')
INSERT [dbo].[Brands] ([ID], [Name]) VALUES (3, N'BMW')
INSERT [dbo].[Brands] ([ID], [Name]) VALUES (6, N'Ford')
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([ID], [VIN], [CategoryId], [BrandId], [Model], [LocationId], [FuelId], [GearboxId], [Odometer], [YearOfProduction]) VALUES (1, N'WVWZZZ1KZAW000001', 2, 1, N'Golf 7 1.6 TDI', 1, 2, 1, 142000, 2010)
INSERT [dbo].[Cars] ([ID], [VIN], [CategoryId], [BrandId], [Model], [LocationId], [FuelId], [GearboxId], [Odometer], [YearOfProduction]) VALUES (2, N'TMBJJ6NE8J0123456', 2, 10, N'Octavia 1.5 TSI', 3, 1, 1, 98000, 2018)
INSERT [dbo].[Cars] ([ID], [VIN], [CategoryId], [BrandId], [Model], [LocationId], [FuelId], [GearboxId], [Odometer], [YearOfProduction]) VALUES (3, N'WAUZZZ8V7GA000777', 3, 2, N'A3 Sedan 2.0 TDI', 2, 2, 2, 121500, 2016)
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([ID], [Name]) VALUES (5, N'SUV')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (1, N'Икономичен')
INSERT [dbo].[Categories] ([ID], [Name]) VALUES (4, N'Комби')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([ID], [FullName], [PhoneNumber], [LicenseNumber]) VALUES (1, N'Иван Петров Георгиев', N'+359888123456', N'BG-LIC-100')
INSERT [dbo].[Customers] ([ID], [FullName], [PhoneNumber], [LicenseNumber]) VALUES (2, N'Мария Димитрова Иванова', N'+359899654321', N'BG-LIC-200')
INSERT [dbo].[Customers] ([ID], [FullName], [PhoneNumber], [LicenseNumber]) VALUES (3, N'Георги Николай Стоянов', N'+359877111222', N'BG-LIC-300')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Fuels] ON 

INSERT [dbo].[Fuels] ([ID], [Name]) VALUES (1, N'Бензин')
INSERT [dbo].[Fuels] ([ID], [Name]) VALUES (2, N'Дизел')
INSERT [dbo].[Fuels] ([ID], [Name]) VALUES (4, N'Електричество')
SET IDENTITY_INSERT [dbo].[Fuels] OFF
GO
SET IDENTITY_INSERT [dbo].[Gearboxes] ON 

INSERT [dbo].[Gearboxes] ([ID], [Name]) VALUES (2, N'Автоматична')
INSERT [dbo].[Gearboxes] ([ID], [Name]) VALUES (1, N'Ръчна')
SET IDENTITY_INSERT [dbo].[Gearboxes] OFF
GO
SET IDENTITY_INSERT [dbo].[Locations] ON 

INSERT [dbo].[Locations] ([ID], [Name]) VALUES (5, N'Бургас - Център')
INSERT [dbo].[Locations] ([ID], [Name]) VALUES (4, N'Варна - Летище')
INSERT [dbo].[Locations] ([ID], [Name]) VALUES (3, N'Пловдив - Център')
SET IDENTITY_INSERT [dbo].[Locations] OFF
GO
INSERT [dbo].[Reservations] ([CustomerId], [CarId], [FromDate], [ToDate], [Amount]) VALUES (1, 1, CAST(N'2026-02-15T00:00:00' AS SmallDateTime), CAST(N'2026-02-18T00:00:00' AS SmallDateTime), 210.0000)
INSERT [dbo].[Reservations] ([CustomerId], [CarId], [FromDate], [ToDate], [Amount]) VALUES (2, 2, CAST(N'2026-03-01T00:00:00' AS SmallDateTime), CAST(N'2026-03-05T00:00:00' AS SmallDateTime), 320.0000)
INSERT [dbo].[Reservations] ([CustomerId], [CarId], [FromDate], [ToDate], [Amount]) VALUES (2, 11, CAST(N'2026-10-18T00:00:00' AS SmallDateTime), CAST(N'2026-10-24T00:00:00' AS SmallDateTime), 390.0000)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Brands_Name]    Script Date: 23/02/2026 14:35:14 ******/
ALTER TABLE [dbo].[Brands] ADD  CONSTRAINT [UQ_Brands_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Cars_VIN]    Script Date: 23/02/2026 14:35:14 ******/
ALTER TABLE [dbo].[Cars] ADD  CONSTRAINT [UQ_Cars_VIN] UNIQUE NONCLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Categories_Name]    Script Date: 23/02/2026 14:35:14 ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [UQ_Categories_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Customers_LicenseNumber]    Script Date: 23/02/2026 14:35:14 ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [UQ_Customers_LicenseNumber] UNIQUE NONCLUSTERED 
(
	[LicenseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Fuels_Name]    Script Date: 23/02/2026 14:35:14 ******/
ALTER TABLE [dbo].[Fuels] ADD  CONSTRAINT [UQ_Fuels_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Gearboxes_Name]    Script Date: 23/02/2026 14:35:14 ******/
ALTER TABLE [dbo].[Gearboxes] ADD  CONSTRAINT [UQ_Gearboxes_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Locations_Name]    Script Date: 23/02/2026 14:35:14 ******/
ALTER TABLE [dbo].[Locations] ADD  CONSTRAINT [UQ_Locations_Name] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Brands] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brands] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Brands]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Categories]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Fuels] FOREIGN KEY([FuelId])
REFERENCES [dbo].[Fuels] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Fuels]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Gearboxes] FOREIGN KEY([GearboxId])
REFERENCES [dbo].[Gearboxes] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Gearboxes]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [FK_Cars_Locations] FOREIGN KEY([LocationId])
REFERENCES [dbo].[Locations] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [FK_Cars_Locations]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Cars] FOREIGN KEY([CarId])
REFERENCES [dbo].[Cars] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Cars]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Customers]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [CK_Cars_Odometer_NonNegative] CHECK  (([Odometer]>=(0)))
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [CK_Cars_Odometer_NonNegative]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD  CONSTRAINT [CK_Cars_YearOfProduction_Valid] CHECK  (([YearOfProduction]>=(1990) AND [YearOfProduction]<=datepart(year,getdate())))
GO
ALTER TABLE [dbo].[Cars] CHECK CONSTRAINT [CK_Cars_YearOfProduction_Valid]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [CK_Reservations_Amount_NonNegative] CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [CK_Reservations_Amount_NonNegative]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [CK_Reservations_DateRange] CHECK  (([ToDate]>=[FromDate]))
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [CK_Reservations_DateRange]
GO
USE [master]
GO
