USE [master]
GO
/****** Object:  Database [School 12 G]    Script Date: 9.10.2025 г. 11:21:30 ******/
CREATE DATABASE [School 12 G]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'School 12 G', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\School 12 G.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'School 12 G_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\School 12 G_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [School 12 G].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [School 12 G]
GO
/****** Object:  User [405-1\Student]    Script Date: 9.10.2025 г. 11:21:30 ******/
CREATE USER [405-1\Student] FOR LOGIN [405-1\Student] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[BPlaces]    Script Date: 9.10.2025 г. 11:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BPlaces](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[City] [nchar](20) NOT NULL,
 CONSTRAINT [PK_BPlaces] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 9.10.2025 г. 11:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Class] [int] NOT NULL,
	[Paral] [nchar](1) NULL,
	[Teacher] [nvarchar](30) NOT NULL,
	[Major1_ID] [int] NOT NULL,
	[Major2_ID] [int] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 9.10.2025 г. 11:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Majors](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](20) NOT NULL,
 CONSTRAINT [PK_Majors] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 9.10.2025 г. 11:21:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Class_ID] [int] NOT NULL,
	[BPlace_ID] [int] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BPlaces] ON 

INSERT [dbo].[BPlaces] ([ID], [City]) VALUES (1, N'Плевен              ')
INSERT [dbo].[BPlaces] ([ID], [City]) VALUES (2, N'София               ')
INSERT [dbo].[BPlaces] ([ID], [City]) VALUES (3, N'Варна               ')
SET IDENTITY_INSERT [dbo].[BPlaces] OFF
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ID], [Class], [Paral], [Teacher], [Major1_ID], [Major2_ID]) VALUES (1, 12, N'г', N'Якимова', 2, 5)
INSERT [dbo].[Classes] ([ID], [Class], [Paral], [Teacher], [Major1_ID], [Major2_ID]) VALUES (2, 12, N'в', N'Дечева', 1, 2)
INSERT [dbo].[Classes] ([ID], [Class], [Paral], [Teacher], [Major1_ID], [Major2_ID]) VALUES (3, 6, NULL, N'Тодорова', 1, NULL)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[Majors] ON 

INSERT [dbo].[Majors] ([ID], [Name]) VALUES (1, N'Математика          ')
INSERT [dbo].[Majors] ([ID], [Name]) VALUES (2, N'Информатика         ')
INSERT [dbo].[Majors] ([ID], [Name]) VALUES (3, N'Физика и астрономия ')
SET IDENTITY_INSERT [dbo].[Majors] OFF
GO
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([ID], [Name], [Class_ID], [BPlace_ID]) VALUES (1, N'Петър', 1, 1)
SET IDENTITY_INSERT [dbo].[Students] OFF
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Majors] FOREIGN KEY([Major1_ID])
REFERENCES [dbo].[Majors] ([ID])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Majors]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Majors1] FOREIGN KEY([Major2_ID])
REFERENCES [dbo].[Majors] ([ID])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Majors1]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_BPlaces] FOREIGN KEY([BPlace_ID])
REFERENCES [dbo].[BPlaces] ([ID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_BPlaces]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Classes] FOREIGN KEY([Class_ID])
REFERENCES [dbo].[Classes] ([ID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Classes]
GO
USE [master]
GO
