USE [master]
GO
/****** Object:  Database [Animals]    Script Date: 14/10/2025 13:11:30 ******/
CREATE DATABASE [Animals]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Animals', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Animals.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Animals_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Animals_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Animals].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Animals]
GO
/****** Object:  Table [dbo].[Animals]    Script Date: 14/10/2025 13:11:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animals](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Type] [int] NOT NULL,
	[Year] [int] NULL,
	[ID_Illness] [int] NOT NULL,
	[ID_Owner] [int] NOT NULL,
	[Weight] [float] NOT NULL,
 CONSTRAINT [PK_Animals] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animals_Doctors]    Script Date: 14/10/2025 13:11:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animals_Doctors](
	[ID_Animal] [int] NOT NULL,
	[ID_Doctor] [int] NOT NULL,
 CONSTRAINT [PK_Animals_Doctors] PRIMARY KEY CLUSTERED 
(
	[ID_Animal] ASC,
	[ID_Doctor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctor]    Script Date: 14/10/2025 13:11:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctor](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Specialties] [int] NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Doctor] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Illnesses]    Script Date: 14/10/2025 13:11:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Illnesses](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Illnesses] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Owners]    Script Date: 14/10/2025 13:11:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Number] [nvarchar](15) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_Owners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specialties]    Script Date: 14/10/2025 13:11:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specialties](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Specialties] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Types]    Script Date: 14/10/2025 13:11:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Types](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Kind] [nvarchar](30) NULL,
 CONSTRAINT [PK_Types] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Animals] ON 

INSERT [dbo].[Animals] ([ID], [ID_Type], [Year], [ID_Illness], [ID_Owner], [Weight]) VALUES (1, 2, NULL, 2, 1, 3)
SET IDENTITY_INSERT [dbo].[Animals] OFF
GO
SET IDENTITY_INSERT [dbo].[Illnesses] ON 

INSERT [dbo].[Illnesses] ([ID], [Name]) VALUES (1, N'Глисти')
INSERT [dbo].[Illnesses] ([ID], [Name]) VALUES (2, N'Бяс')
SET IDENTITY_INSERT [dbo].[Illnesses] OFF
GO
SET IDENTITY_INSERT [dbo].[Owners] ON 

INSERT [dbo].[Owners] ([ID], [Name], [Number], [Address]) VALUES (1, N'ааа', NULL, NULL)
INSERT [dbo].[Owners] ([ID], [Name], [Number], [Address]) VALUES (2, N'еее', N'0054д2ф', N'Плевен, Дружба')
SET IDENTITY_INSERT [dbo].[Owners] OFF
GO
SET IDENTITY_INSERT [dbo].[Specialties] ON 

INSERT [dbo].[Specialties] ([ID], [Name]) VALUES (1, N'Хирург')
INSERT [dbo].[Specialties] ([ID], [Name]) VALUES (2, N'Анестециолог')
INSERT [dbo].[Specialties] ([ID], [Name]) VALUES (3, N'Друго')
SET IDENTITY_INSERT [dbo].[Specialties] OFF
GO
SET IDENTITY_INSERT [dbo].[Types] ON 

INSERT [dbo].[Types] ([ID], [Kind]) VALUES (1, N'Куче')
INSERT [dbo].[Types] ([ID], [Kind]) VALUES (2, N'Котка')
INSERT [dbo].[Types] ([ID], [Kind]) VALUES (3, N'Друго')
SET IDENTITY_INSERT [dbo].[Types] OFF
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Illnesses1] FOREIGN KEY([ID_Illness])
REFERENCES [dbo].[Illnesses] ([ID])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Illnesses1]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Owners] FOREIGN KEY([ID_Owner])
REFERENCES [dbo].[Owners] ([ID])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Owners]
GO
ALTER TABLE [dbo].[Animals]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Types1] FOREIGN KEY([ID_Type])
REFERENCES [dbo].[Types] ([ID])
GO
ALTER TABLE [dbo].[Animals] CHECK CONSTRAINT [FK_Animals_Types1]
GO
ALTER TABLE [dbo].[Animals_Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Doctors_Animals1] FOREIGN KEY([ID_Animal])
REFERENCES [dbo].[Animals] ([ID])
GO
ALTER TABLE [dbo].[Animals_Doctors] CHECK CONSTRAINT [FK_Animals_Doctors_Animals1]
GO
ALTER TABLE [dbo].[Animals_Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Animals_Doctors_Doctor1] FOREIGN KEY([ID_Doctor])
REFERENCES [dbo].[Doctor] ([ID])
GO
ALTER TABLE [dbo].[Animals_Doctors] CHECK CONSTRAINT [FK_Animals_Doctors_Doctor1]
GO
ALTER TABLE [dbo].[Doctor]  WITH CHECK ADD  CONSTRAINT [FK_Doctor_Specialties1] FOREIGN KEY([ID_Specialties])
REFERENCES [dbo].[Specialties] ([ID])
GO
ALTER TABLE [dbo].[Doctor] CHECK CONSTRAINT [FK_Doctor_Specialties1]
GO
USE [master]
GO
